* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.choosen {
  box-shadow: 0px 0px 38px 22px rgba(160, 223, 13, 0.79);
}

.image-gallery {
  margin: 0 auto;
  width: 1280px;
  height: 100%;
  border: 5px solid rgb(160, 223, 13);
  padding: 5px;
  background-image: url("https://previews.123rf.com/images/sila5775/sila57751506/sila5775150600489/41120105-basketball-ball-pattern-background-graphic-vector.jpg");
}

.preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}

.preview > li {
  padding: 5px;
  margin: 10px;
  border: 7px double yellow;
}
.preview > li > img {
  cursor: pointer;
}

.fullview {
  text-align: center;
  padding: 20px;
}

.fullview > img {
  width: 1200px;
  height: 800px;
}
